<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shopwebbartuszak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shopwebbartuszak.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShopWebBartusZak</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShopWebBartusZak</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User ID=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123" Name="Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User Id=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Shop.Web.Models.ApplicationDbContext, Shop.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WszystkiedbEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User ID=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123" Name="Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User Id=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Shop.Web.Models.WszystkiedbEntities, Shop.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WszystkieDBtxt" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User ID=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123" Name="Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User Id=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Shop.Web.Models.WszystkieDBtxt, Shop.Web" MigrationConfiguration="Shop.Web.Migrations.Configuration, Shop.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User Id=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WszystkiedbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.WszystkieModel.csdl|res://*/Models.WszystkieModel.ssdl|res://*/Models.WszystkieModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User Id=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WszystkieDBtxt-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shopwebsqlserver.database.windows.net,1433;Initial Catalog=ShopWebSQL;User Id=BartusZak@shopwebsqlserver.database.windows.net;Password=Bartek123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>