@model Shop.Web.Models.Wszystkie


        <form id="myForm">
            <div id="AddUserForm">
                @Html.LabelFor(model => model.Nazwa)
                @Html.EditorFor(model => model.Nazwa)
            </div>
        </form>

